# Dependencies
node_modules

# Build outputs
dist
build
.storybook-static

# Logs
*.log

# Environment variables
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Coverage
coverage

# Storybook
storybook-static
